.HomePage
  width:100%
  box-sizing: border-box
  padding: 20px 20px
  .page-header
    height:54px;
    width:100%
    background-color:rgb(27, 38, 52)
    h2
      line-height: 50px;
      display: inline-block;
      margin-left: 25px;
      font-size: 22px;
      color:#fff
  .loading
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    z-index: 1000001
    background: rgba(123,123,123,0.5)
    .k-loader
      position: absolute
      top:40%
  .k-animation-container.k-animation-container-relative
    width:100%
  .grid-page
    padding: 10px 10px
    width:100%
    box-sizing: border-box

