.BMIPage
  >.Frame 
    width: 800px;
    margin: 0 auto;
    .bmi-desc,form
      display: inline-block
    .bmi-desc
      margin-left:150px
      vertical-align: top
      td,th
        width:120px   
        width: 150px;
        padding: 5px 20px;
    input 
      width:200px