.ConfigPage
    padding: 10px 10px
    width:100%
    box-sizing: border-box
    background: #ececec;
  .k-card
    margin-bottom: 20px
  // .config-list
  //   padding: 20px 20px
  .config-list-header
    h2,h1,h3
      font-weight: 500
      font-size: 22px  
  .api-list  
    .config-item
      margin-bottom: 10px    
    .config-item input.url-input 
      width:750px
      margin-left: 20px
    .config-item label 
      display inline-block
      width:150px  
  .column-list
    .config-item
      margin-bottom: 10px  
    .option-item
      display inline-block
      padding: 0 10px
      label
        padding-right:10px
